<div class="header">
  <div class="header-left">
    <a href="/" class="logo">
      <img src="/assets/icon/logo.png" width="35" height="35" alt="">
    </a>
  </div>
  <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
  <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
  <ul class="nav user-menu float-right">
    <div class="sidebar" id="sidebar">
      <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
          <ul>
            <li class="menu-title">Área do Hospital</li>
            <li>
              <a href="/"><i class="fa fa-user"></i> <span>Hospital</span></a>
            </li>
            <li>
              <a href="/user/func"><i class="fa fa-user-o"></i> <span>Adicionar Funcionário</span></a>
            </li>
            <li class="submenu">
              <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i> <span>Rodízios</span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="rodizio/?md=9"><i class="fa fa-users" aria-hidden="true"></i>  MD9 </a></li>
                <li><a href="rodizio/?md=10"><i class="fa fa-users" aria-hidden="true"></i> MD10</a></li>
                <li><a href="rodizio/?md=11"><i class="fa fa-users" aria-hidden="true"></i> MD11 </a></li>
                <li><a href="rodizio/?md=12"><i class="fa fa-users" aria-hidden="true"></i> MD12 </a></li>
              </ul>
            </li>
            <li>
              <a href="/user/logout"><i class="fa fa-power-off"></i> <span>Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ul>
</div>