<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/icon/favicon.ico">
  <title>Clínica - Médica & Hospital - Rodízios</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
  <div class="main-wrapper">
    <% if(tipo_user === 'adminHosp') { %>
      <%- include('./hospital/rodizio/header.html'); %>
    <% } %>

    <% if(tipo_user === 'funcHosp') { %>
      <%- include('./hospital/funcionarioProfile/header.html'); %>
    <% } %>

    <div class="page-wrapper">

      <% if(turma == '9') { %>
        <%- include('./hospital/rodizio/md9.html') %>
      <% } %>

      <% if(turma == '10') { %>
        <%- include('./hospital/rodizio/md10.html') %>
      <% } %>

      <% if(turma == '11') { %>
        <%- include('./hospital/rodizio/md11.html') %>
      <% } %>

      <% if(turma == '12') { %>
        <%- include('./hospital/rodizio/md12.html') %>
      <% } %>

    </div>

  </div>

  <div class="sidebar-overlay" data-reff=""></div>
  <script src="/assets/js/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.js"></script>
  <script src="/assets/js/keep_same_tab.js"></script>
  <script src="/assets/js/app.js"></script>

</body>



</html>